INSERT INTO RT_TABLE (REF_TABLE_ID,TABLE_ID,VERSION,NAME,DESCRIPTION,COMMENTS,STATUS,CREATE_USER_ID,
UPDATE_USER_ID,CREATE_DT,UPDATE_DT,UNIQUE_TRANS_ID,EFF_BEGIN_DT,EFF_END_DT,ARCHIVE_DT) 
VALUES ((SELECT RT_TABLE_FIELD_1SQ.NEXTVAL FROM DUAL),RT_TABLE_1SQ.CURRVAL,1,'$ref_table_name',
'$ref_table_description',NULL,'A','DHSET01',NULL,TO_DATE('01-JAN-00','DD-MON-RR'),NULL,
RT_TABLE_0SQ.NEXTVAL,TO_DATE('05-FEB-16','DD-MON-RR'),NULL,TO_DATE('31-DEC-2999','DD-MON-RRRR'));

#foreach( $columnObject in $!{columnObjectList} )
INSERT INTO RT_FIELD_DOMAIN (FIELD_ID,NAME,DATA_TYPE,MAX_LENGTH,NULLS_ALLOWED,CREATE_USER_ID,
UPDATE_USER_ID,CREATE_DT,UPDATE_DT,UNIQUE_TRANS_ID,ARCHIVE_DT) 
VALUES (RT_FIELD_DOMAIN_1SQ.NEXTVAL,'$!{columnObject.columnName}','$!{columnObject.columnDataType}','$!{columnObject.columnMaxLength}',
'$!{columnObject.nullsAllowed}','DHSET01',NULL,TO_DATE('01-JAN-00','DD-MON-RR'),NULL,
RT_FIELD_DOMAIN_0SQ.NEXTVAL,TO_DATE('31-DEC-2999','DD-MON-RRRR'));

#end

INSERT INTO RT_TABLE_FIELD (REF_TABLE_FIELD_ID,REF_TABLE_ID,FIELD_ID,CREATE_USER_ID,UPDATE_USER_ID,
CREATE_DT,UPDATE_DT,UNIQUE_TRANS_ID,ARCHIVE_DT) 
VALUES ((SELECT RT_TABLE_FIELD_1SQ.NEXTVAL FROM DUAL),RT_TABLE_1SQ.CURRVAL,2,'DHSET01',NULL,
TO_DATE('01-JAN-00','DD-MON-RR'),NULL,RT_TABLE_FIELD_0SQ.NEXTVAL,
TO_DATE('31-DEC-2999','DD-MON-RRRR'));

