#foreach( $recordObject in $!{recordObjectList} )
INSERT INTO RT_FIELD_VALUES (REF_TABLE_FIELD_ID,FIELD_ROW_ID,FIELD_VALUE,
	CREATE_USER_ID,UPDATE_USER_ID,CREATE_DT,UPDATE_DT,UNIQUE_TRANS_ID,ARCHIVE_DT) 
	VALUES ('$!{recordObject.codeColumnObj.ref_table_field_id}',RT_FIELD_VALUES_1SQ.NEXTVAL,
	'$!{recordObject.codeColumnObj.columnValue}','dhset01',NULL,TO_DATE('05-FEB-16','DD-MON-RR'),
	NULL,RT_FIELD_VALUES_0SQ.NEXTVAL,TO_DATE('31-DEC-2999','DD-MON-RRRR'));
INSERT INTO RT_FIELD_VALUES (REF_TABLE_FIELD_ID,FIELD_ROW_ID,FIELD_VALUE,
	CREATE_USER_ID,UPDATE_USER_ID,CREATE_DT,UPDATE_DT,UNIQUE_TRANS_ID,ARCHIVE_DT) 
	VALUES ('$!{recordObject.descColumnObj.ref_table_field_id}',RT_FIELD_VALUES_1SQ.CURRVAL,
	'$!{recordObject.descColumnObj.columnValue}','dhset01',NULL,TO_DATE('05-FEB-16','DD-MON-RR'),
	NULL,RT_FIELD_VALUES_0SQ.NEXTVAL,TO_DATE('31-DEC-2999','DD-MON-RRRR'));

#foreach( $columnObject in $!{recordObject.columnObjectList} )
INSERT INTO RT_FIELD_VALUES 
(REF_TABLE_FIELD_ID,FIELD_ROW_ID,FIELD_VALUE,CREATE_USER_ID,UPDATE_USER_ID,
CREATE_DT,UPDATE_DT,UNIQUE_TRANS_ID,ARCHIVE_DT) VALUES 
('$!{columnObject.ref_table_field_id}',RT_FIELD_VALUES_1SQ.CURRVAL,
'$!{columnObject.columnValue}','dhset01',NULL,TO_DATE('05-FEB-16','DD-MON-RR'),
NULL,RT_FIELD_VALUES_0SQ.NEXTVAL,TO_DATE('31-DEC-2999','DD-MON-RRRR'));
	#end
#end